* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img{
  position: fixed;
  width: 1.5rem;
  right: 3rem;
  top: 2rem;
}
.said0{
  background-color: white;
  width: 500px;
  height: 100vh;

}

.said1{
  display: flex;
  justify-content: space-between;
  align-items: center;
      padding: 1rem 1.5rem;
}
.menu{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  cursor: pointer;
}
body{
  background-color: #ebebeb;
}
.menu a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: grey;
  transition: all 0.3s linear;
  text-decoration: none;
  
}

.menu a:hover {
  background: #f8a5a5;
  padding-left: 1.7rem;
}
.imag2{
  position: fixed;
  left: 28rem;
  top: 2rem;
  border: none;
  background-color: white;

}
