* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img{
  position: fixed;
  width: 1.5rem;
  right: 3rem;
  top: 2rem;
}
.said0{
  background-color: white;
  width: 500px;
  height: 100vh;
}
.said1{
  display: flex;
  justify-content: space-between;
  align-items: center;
      padding: 1rem 1.5rem;
}
.menu{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 20px;
  margin: 1.5rem;
  list-style-type: none;
  color: gray;
}
body{
  background-color: #ebebeb;
}